@{
    ViewData["Title"] = "Himalayan Expeditions";
}

<div class="row">
    <div class="col">
        <div class="text-center">
            <img src="~/images/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg" alt="Mount Everest as seen from Drukair2" width="1024" />
        </div>
    </div>
</div>

<div>
    <h1 style="text-align:center"> News Articles </h1>
    <table class="table table-primary table-striped table-sm w-100 mx-auto mb-2 table-bordered" style="margin: 0 auto;">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in ViewBag.News)
            {
                <tr>
                    <td>
                        @t.Date
                    </td>
                    <td>
                        @t.Title
                    </td>
                    <td>
                        @t.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h1 style="text-align: center"> Expedition Incidents </h1>
    <table class="table table-striped table-secondary table-sm w-100 mt-3 table-bordered" style="margin: 0 auto;">
        <thead>
            <tr>
                <th scope="col">Name of Peak</th>
                <th scope="col">Expedition Termination Reason</th>
                <th scope="col">Date of Incident</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            @if (!item.TerminationReason.Contains("Success"))
            {
                <tr>
                    <td>@item.Peak.Name</td>
                    <td>@item.TerminationReason</td>
                    <td>@item.Year</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
<small>Data and idea for this app: Binit Shrestha, WOU Senior project class 2020. Photo above <a href="https://en.wikipedia.org/wiki/Mount_Everest#/media/File:Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg">from Wikipedia</a>.  Data from <a href="https://github.com/rfordatascience/tidytuesday/blob/master/data/2020/2020-09-22/readme.md">R for Data Science TidyTuesday: Himalayan Climbing Expeditions</a></small>