@model Playlistofy.Models.ViewModel.SearchViewModels.TrackSearchViewModel

@{
    ViewData["Title"] = "TrackSearch";
}

<h1>Track Search</h1>
<h3>Searching for: @Model.SearchTerm</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Explicit
            </th>
            <th>
                Popularity
            </th>
            <th>
                Preview
            </th>
            <th>
                TrackNumber
            </th>
            <th>
                Duration
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.tracks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Explicit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popularity)
            </td>
            <td>
                @if (item.PreviewUrl != null)
                {
                    <iframe src="@item.PreviewUrl" width="300" height="75" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                }else
                {
                    <p>No Preview Available</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <a asp-controller="Tracks" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
