@model Playlistofy.Models.Artist

@{
    ViewData["Title"] = "Details";
}

<style>
    table {
        border-collapse: collapse;
    }

    @*th, td {
        border: 1px solid black;
    }*@

    table.b {
        table-layout: fixed;
        width: 100%;
        background: skyblue;
    }
</style>

<h1>Details</h1>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popularity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uri)
        </dt>
        <dd class = "col-sm-10">
            <a href="@Model.Uri">View this Artist's Spotify page</a>
        </dd>
    </dl>
</div>
<div>
    <a href="javascript:history.go(-1)">Back to List</a>
</div>
