@model Playlistofy.Models.ViewModel.TracksForPlaylist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Playlist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Playlist.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Playlist.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Playlist.Href)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Playlist.Href)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Playlist.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Playlist.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Playlist.Public)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Playlist.Public)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Playlist.Collaborative)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Playlist.Collaborative)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Playlist.Uri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Playlist.Uri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Playlist.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Playlist.User.DisplayName)
        </dd>
        <dt class=" col-sm-2">
            Tracks
        </dt>
        <dd class=" col-sm 10">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Length</th>
                    <th>URL</th>
                </tr>
                @foreach (var track in Model.Tracks)
                {
                    <tr>
                        <td>@track.Name</td>
                        <td>@track.Duration</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Playlist.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
