@model Playlistofy.Models.Playlist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Playlist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Href)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Href)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Public)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Public)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Collaborative)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Collaborative)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.DisplayName)
        </dd>
        <dt class=" col-sm-2">
            Tracks
        </dt>
        <dd class=" col-sm 10">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Length</th>
                    @*<th>URL</th>*@
                </tr>
                @foreach (var track in ViewBag.Tracks)
                {
                    <tr>
                        <td>
                            <a asp-controller="Tracks" asp-action="Details" asp-route-id="@track.Id">
                                @track.Name
                            </a>
                        </td>
                        <td>@track.DurationMs</td>
                        <td>
                            <a asp-controller="Tracks" asp-action="Delete" asp-route-id="@track.Id">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="UserPlaylists">Back to List</a>
</div>
