@*This page is for the details of the Playlist from the search page*@
@model Playlistofy.Models.ViewModel.TracksForPlaylist

@{
    ViewData["Title"] = "Details";
}

<style>
    table {
        border-collapse: collapse;
    }

    @*th, td {
        border: 1px solid black;
    }*@

    table.b {
        table-layout: fixed;
        width: 100%;
        background: url('https://www.ilovewallpaper.ie/images/diamonds-plain-wallpaper-grey-p7401-25144_medium.jpg');
    }
</style>

<div>
    <center>
        <h1>"@Html.DisplayFor(model => model.Playlist.Name)"</h1>
        <h4>(Details)</h4>
    </center>
    <hr />
    <table class="b">
        <tr>
            <td>
                <div style="text-align:justify">
                    <table class="b" style="table-layout:fixed">
                        <tr>
                            <td>
                                @*<h4>@Html.DisplayNameFor(model => model.Playlist.Id)</h4>*@
                                <h5>Playlist ID - @Html.DisplayFor(model => model.Playlist.Id)</h5>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>
                                <h5>Is @Html.DisplayNameFor(model => model.Playlist.Public)?  @Html.DisplayFor(model => model.Playlist.Public)</h5>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>
                                <h5>Is @Html.DisplayNameFor(model => model.Playlist.Collaborative)?  @Html.DisplayFor(model => model.Playlist.Collaborative)</h5>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>
                                @*<h4>@Html.DisplayNameFor(model => model.Playlist.Description)</h4>*@
                                <h5>Description</h5>
                                <h5>@Html.DisplayFor(model => model.Playlist.Description)</h5>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td style="width:5%;">
            </td>
            <td>
                <div style="text-align:left;">
                    <table class="b" style="padding-top:100px">
                        @if (Model.Tracks.Count > 0)
                        {
                            <tr>
                                <th>Title</th>
                                <th>Length</th>
                                @*<th>URL</th>*@
                            </tr>
                            @foreach (var track in Model.Tracks)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="Tracks" asp-action="Details" asp-route-id="@track.Id">
                                            @track.Name
                                        </a>
                                    </td>
                                    <td>
                                        <a>
                                            @track.Duration
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-controller="Tracks" asp-action="Delete" asp-route-TrackId="@track.Id" asp-route-PlaylistId="@Model.Playlist.Id">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>
                                    <center>
                                        <h4>There Are No Tracks In This Playlist</h4>
                                        <a asp-controller="Tracks" asp-action="SearchTracks" asp-route-id="@Model.Playlist.Id">Add Tracks?</a>
                                    </center>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <center>
        <div>
            <h4><a asp-action="UserPlaylists"><b>Back</b></a></h4>
        </div>
    </center>

    <iframe src="https://open.spotify.com/embed/playlist/@Html.ViewData.Model.Playlist.Id" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

</div>
    <!--<div>
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Playlist.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Playlist.Id)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Playlist.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Playlist.Description)
            </dd>
            <dt class="col-sm-2">
                Is @Html.DisplayNameFor(model => model.Playlist.Public)?
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Playlist.Public)
            </dd>
            <dt class="col-sm-2">
                Is @Html.DisplayNameFor(model => model.Playlist.Collaborative)?
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Playlist.Collaborative)
            </dd>
            <dt class="col-sm-2">
                Playlist Creator
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Playlist.User.DisplayName)
            </dd>
            <dt class=" col-sm-2">
                Tracks
            </dt>
            <dd class=" col-sm 10">
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Length</th>-->
                        @*<th>URL</th>*@
                    <!--</tr>
                    @foreach (var track in Model.Tracks)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Tracks" asp-action="Details" asp-route-id="@track.Id">
                                    @track.Name
                                </a>
                            </td>
                            <td>
                                @track.Duration
                            </td>
                            <td>
                                <a asp-controller="Tracks" asp-action="Delete" asp-route-TrackId="@track.Id" asp-route-PlaylistId="@Model.Playlist.Id">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        </dl>
    </div>-->
