@*This page is for the details of the Playlist from the search page*@
@model Playlistofy.Models.ViewModel.TracksForPlaylist

@{
    ViewData["Title"] = "Details";
}

<style>
    table {
        border-collapse: collapse;
    }

    @*th, td {
        border: 1px solid black;
    }*@

    table.b {
        table-layout: fixed;
        width: 100%;
    }
</style>

<div>
    <center>
        <h1>"@Html.DisplayFor(model => model.Playlist.Name)"</h1>
        <h4>(Details)</h4>
    </center>
    <hr />
    <table class="b">
        <tr>
            <td>
                <div style="text-align:justify">
                    <table class="b" style="table-layout:fixed">
                        <tr>
                            <td>
                                <h5>Playlist ID - @Html.DisplayFor(model => model.Playlist.Id)</h5>
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>
                                @if (@Html.ViewData.Model.Playlist.Public != null && (bool)@Html.ViewData.Model.Playlist.Public)
                                {
                                    <h5>Public</h5>
                                }
                                else
                                {
                                    <h5>Private</h5>
                                }
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>
                                @if (@Html.ViewData.Model.Playlist.Collaborative != null && (bool)@Html.ViewData.Model.Playlist.Collaborative)
                                {
                                    <h5>Collaborative</h5>
                                }
                                else
                                {
                                    <h5>Single Creator</h5>
                                }
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>
                                <h3>Description</h3>
                                @if (@Html.ViewData.Model.Playlist.Description != null)
                                {
                                    <h5>@Html.ViewData.Model.Playlist.Description</h5>
                                }
                                else
                                {
                                    <h5>There is no description for this playlist</h5>
                                }
                            </td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td>
                                <h3>Tags</h3>
                            </td>
                        </tr>
                        @foreach (var word in Model.Tags)
                        {
                            <tr>
                                <td>
                                    <h5>@word</h5>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
            <td style="width:5%;">
            </td>
            <td>
                <div style="text-align:left;">
                    <table class="b" style="padding-top:100px">
                        @if (Model.Tracks.Count > 0)
                        {
                            <tr>
                                <th>Title</th>
                                <th>Length</th>
                            </tr>
                            @foreach (var track in Model.Tracks)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="Tracks" asp-action="Details" asp-route-id="@track.Id">
                                            @track.Name
                                        </a>
                                    </td>
                                    <td>
                                        <a>
                                            @track.Duration
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>
                                    <center>
                                        <h4>There Are No Tracks In This Playlist</h4>
                                        <!--<a asp-controller="Tracks" asp-action="SearchTracks" asp-route-id="@Model.Playlist.Id">Add Tracks?</a>-->
                                    </center>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <center>
        <div>
            <h4><a asp-action="UserPlaylists"><b>Back</b></a></h4>
        </div>
    </center>
</div>
