@model Playlistofy.Models.userPlaylistsTracks

@{
    ViewData["Title"] = "UserPlaylists";
}

<style>
    div.div_a:hover {
        table-layout: auto;
        width: 100%;
        opacity: 1.0;
        background: url('https://cdn.pixabay.com/photo/2013/07/13/11/51/cd-158817__480.png');
    }

    div.div_a {
        table-layout: auto;
        width: 100%;
        opacity: 0.5;
        background: url('https://cdn.pixabay.com/photo/2013/07/13/11/51/cd-158817__480.png');
    }

    div.div_b {
        table-layout: auto;
        width: 100%;
        opacity: 0.7;
        background: url('https://i.pinimg.com/originals/2a/76/17/2a761787715ca71788aad1a28ab057ac.jpg');
    }
</style>

<center><h1>Upload Spotify Playlists To Personal Account</h1></center>

<div class="main-body">
    <div class="row gutters-sm">
        <div class="col-sm-6 mb-3">
            <div class="container">
                <div class="div_b">
                    <center><h4><a asp-controller="Playlists" asp-action="Create">Create Playlist</a></h4></center>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.PlaylistsDB.ElementAt(0).Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PlaylistsDB.ElementAt(0).Name)
                                </th>
                                @* <th>
                                    @Html.DisplayNameFor(model => model.User)
                                </th> *@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PlaylistsDB)
                            {
                            <tr>
                                <td>
                                    <a asp-action="DetailsFromSearch" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a asp-controller="Tracks" asp-action="SearchTracks" asp-route-id="@item.Id">Add</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                                <td>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card h-100">
                <div class="div_b">
                    <center>
                        <h4>Upload Spotify Playlists</h4>
                        <br />
                        <form asp-action="Create">
                            <table class="table table-bordered table-striped table-sm">
                                @foreach (var playlist in Model.Playlists)
                                {
                                <tr>
                                    <td>
                                        <img src="https://via.placeholder.com/75" />
                                    </td>
                                    <td>
                                        <center>
                                            <a href=@("https://open.spotify.com/playlist/" + playlist.Id)>
                                                <h5>@playlist.Name</h5>
                                            </a>
                                        </center>
                                    </td>
                                    <td>
                                        <center>
                                            <a asp-action="UserPlaylists" asp-route-id="@playlist.Id">Add</a>
                                        </center>
                                    </td>
                                </tr>
                                }
                            </table>
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>