@model Playlistofy.Models.ViewModel.InfoForTracks

@{
    ViewData["Title"] = "Details";
}

<style>
    table {
        border-collapse: collapse;
    }

    @*th, td {
        border: 1px solid black;
    }*@

        table.b {
            table-layout: fixed;
            width: 100%;
            background: skyblue;
        }
</style>

<center><h2>Details For Track - "@Html.DisplayFor(model => model.Track.Name)"</h2></center>
<table class="b">
    <tr>
        <td>
            <div>
                @*<h4>Track</h4>*@
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        Duration
                    </dt>
                    <dd class="col-sm-10">
                        @Html.ViewData.Model.Track.Duration
                    </dd>

                    <!--__________________________________________________ -->

                    <dt class="col-sm-2">
                        Artist
                    </dt>
                    <dd class="col-sm-10">

                    </dd>
                    <dt class="col-sm-2">
                        Album
                    </dt>
                    
                    <dd class="col-sm-10">
                        <a asp-controller="Tracks" asp-action="Details" asp-route-Id="@Model.Albums.FirstOrDefault()"> @Model.Albums.FirstOrDefault()</a>
                    </dd>
                    

                        <!--__________________________________________________ -->

                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Track.DiscNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Track.DiscNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Track.TrackNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Track.TrackNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Track.Explicit)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Track.Explicit)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Track.IsPlayable)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Track.IsPlayable)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Track.IsLocal)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Track.IsLocal)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Track.Href)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Track.Href)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Track.PreviewUrl)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Track.PreviewUrl)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Track.Uri)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Track.Uri)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Track.Popularity)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Track.Popularity)
                        </dd>
                        <dt class="col-sm-2">
                            <!--Html.DisplayNameFor(model => model.Playlist)-->
                        </dt>
                        <dd class="col-sm-10">
                            <!--Html.DisplayFor(model => model.Playlist.Id)-->
                        </dd>
                    </dl>
            </div>
            <div>
                @*<a asp-action="Edit" asp-route-id="@Model.Track.Id">Edit</a> |*@
                <center><a href="javascript:history.go(-1)">Back to List</a></center>
            </div>
        </td>
    </tr>
</table>
